<a href="https://colab.research.google.com/github/Ahnjihye/Python/blob/main/7%EC%9E%A5_(%EC%99%84%EC%84%B1%EB%B3%B8)_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  1. 딕셔너리
Key (키) - Value (값) 대응    


<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/12_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.png?raw=true' width =600>

<br/>
<br/>
<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/72_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B9%84%EA%B5%90.png?raw=true' width =400>

<br/>

```
딕셔너리이름 = {키1 : 값1, 키2 : 값2, ... 키n : 값n}
```

In [1]:
menu = {'김밥':2500, '참치김밥': 3500, '라면':3000, '치즈라면': 4000}
menu

{'김밥': 2500, '라면': 3000, '참치김밥': 3500, '치즈라면': 4000}

In [ ]:
menu['참치김밥']

3500

In [ ]:
menu['치즈라면']

4000

In [ ]:
print(menu)

# 참치김밥 인하 3000원
menu['참치김밥'] = 3000

print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}

In [ ]:
print(menu)

# 라면가격 인상 3500
menu['라면'] = 3500

print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000}
{'김밥': 2500, '참치김밥': 3000, '라면': 3500, '치즈라면': 4000}

In [ ]:
# 돈가스 추가
menu['돈가스']=6000
print(menu)

{'김밥': 2500, '참치김밥': 3000, '라면': 3500, '치즈라면': 4000, '돈가스': 6000}

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/73_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%5B%ED%82%A4%5D.png?raw=true' width=600>

# 2. 딕셔너리의 키와 값

딕셔너리의 키만 꺼내기 
> 딕셔너리이름.keys()

<br/>

딕셔너리의 값(value)만 꺼내기 
> 딕셔너리이름.values()

<br/>

딕셔너리의 키-값 모두 꺼내기 
>딕셔너리이름.items()

In [ ]:
menu.keys()

dict_keys(['김밥', '참치김밥', '라면', '치즈라면', '돈가스'])

In [ ]:
menu.values()

dict_values([2500, 3000, 3500, 4000, 6000])

In [ ]:
menu.items()

dict_items([('김밥', 2500), ('참치김밥', 3000), ('라면', 3500), ('치즈라면', 4000), ('돈가스', 6000)])

In [ ]:
# 딕셔너리의 키를 리스트로 변환하기
list(menu.keys())

['김밥', '참치김밥', '라면', '치즈라면', '돈가스']

In [ ]:
# 딕셔너리의 값을 리스트로 변환하기
list(menu.values())

[2500, 3000, 3500, 4000, 6000]

# 3. 딕셔너리 정렬하기 

> sorted( )

```
# 딕셔너리 키를 정렬
sorted(딕셔너리.keys())

# 딕셔너리 값을 정렬
sorted(딕셔너리.values())

# 딕셔너리 키-값을 정렬
sorted(딕셔너리.items())
```

In [ ]:
sorted(menu.keys())

['김밥', '돈가스', '라면', '참치김밥', '치즈라면']

In [ ]:
sorted(menu.values())

[2500, 3000, 3500, 4000, 6000]

In [ ]:
# 가장 싼 음식의 가격은?
sorted(menu.values())[0]

2500

In [ ]:
# 가장 싼 음식 두 개의 가격은?
sorted(menu.values())[:2]

[2500, 3000]

In [ ]:
# 가장 비싼 음식의 두 개의 가격은?
sorted(menu.values())[-2:]

[4000, 6000]

### 오름차순, 내림차순 옵션 reverse

> sorted(정렬할 대상, reverse = True/False)

In [ ]:
sorted(menu.keys(), reverse = True)

['치즈라면', '참치김밥', '라면', '돈가스', '김밥']

In [ ]:
sorted(menu.values(), reverse = True)

[6000, 4000, 3500, 3000, 2500]

In [ ]:
sorted(menu.items())

[('김밥', 2500), ('돈가스', 6000), ('라면', 3500), ('참치김밥', 3000), ('치즈라면', 4000)]



```
# 딕셔너리 키-값은 자동으로 키를 기준으로 정렬됨
sorted(딕셔너리.items())
```

In [ ]:
# 딕셔너리 키-값 정렬시 값을 기준으로 정렬하기
import operator 

sorted(menu.items(), key=operator.itemgetter(1))

[('김밥', 2500), ('참치김밥', 3000), ('라면', 3500), ('치즈라면', 4000), ('돈가스', 6000)]

In [ ]:
# 가장 싼 음식은 무엇인가?
sorted(menu.items(), key=operator.itemgetter(1))[0]

('김밥', 2500)

In [ ]:
# 가장 싼 음식 두 개는 무엇인가?
sorted(menu.items(), key=operator.itemgetter(1))[:2]

[('김밥', 2500), ('참치김밥', 3000)]

In [ ]:
# 역순 정렬
sorted(menu.items(), key=operator.itemgetter(1), reverse = True)

[('돈가스', 6000), ('치즈라면', 4000), ('라면', 3500), ('참치김밥', 3000), ('김밥', 2500)]

In [ ]:
# 가장 비싼 음식 두 개는? 
sorted(menu.items(), key=operator.itemgetter(1), reverse = True)[:2]

[('돈가스', 6000), ('치즈라면', 4000)]

# 4. 딕셔너리와 제어구조



```
# 다섯 명의 중간고사 점수를 저장한 딕셔너리
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}
```

In [16]:
# 학생 이름을 입력받나, 딕셔너리에 학생 이름이 있으면 점수를 출력
# 없다면 '해당 학생이 없습니다.' 출력하기 
midterm = {'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}

student = input('어떤 학생의 점수가 궁금한가요? ')

if student in midterm.keys() : 
    print(midterm[student],'점 입니다.')
else : 
    print('해당 학생이 없습니다.')

어떤 학생의 점수가 궁금한가요? 졔졔
해당 학생이 없습니다.

In [17]:
# 딕셔너리에 저장된 모든 학생의 이름 출력하기
for k in midterm.keys() : 
    print(k)

도윤
하윤
시우
지유
주원

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/76_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%ED%82%A4%EB%B0%98%EB%B3%B5.png?raw=true' width=600>

In [18]:
# 딕셔너리에 저장된 모든 점수 출력하기
for v in midterm.values() : 
    print(v)

43
82
76
61
94

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/77_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EA%B0%92%EB%B0%98%EB%B3%B5.png?raw=true' width=600>

In [19]:
# 딕셔너리에 저장된 모든 학생과 점수를 같이 출력하기
for i in midterm.items() : 
    print(i)

('도윤', 43)
('하윤', 82)
('시우', 76)
('지유', 61)
('주원', 94)

In [20]:
for k, v in midterm.items() :
    print(k,'의 점수는', v)

도윤 의 점수는 43
하윤 의 점수는 82
시우 의 점수는 76
지유 의 점수는 61
주원 의 점수는 94

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/78_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EC%95%84%EC%9D%B4%ED%85%9C%EB%B0%98%EB%B3%B5.png?raw=true' width=600>